[defaults]
# Use the YAML callback plugin.
stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True

[persistent_connection]
command_timeout=100
connect_timeout=100
connect_retry_timeout=100

[paramiko_connection] 
look_for_keys=True
host_key_auto_add=True
record_host_keys=True